html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

/*** GENERAL STYLES ***/

:root {
  --open-sans: "Open Sans", sans-serif;
  --nanito-sans: "Nunito Sans", sans-serif;

  --accent-light: #fbb731;
  --accent-dark: #f37335;
  --dark: #443737;
  --light: #fff;
  --light-rgb: 255, 255, 255;
  --dark-rgb: 68, 55, 55;

  --line: #dedede;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--open-sans);
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 121rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/*** HEADER ***/

.header {
  border-bottom: 1px solid var(--line);
}

.header-wrapper {
  display: flex;
  align-items: center;
  /* gap: 19.6rem; */
  gap: 5.6rem;
  padding: 2.6rem 0;
}

.burger-menu {
  display: none;
  width: 3.4rem;
  height: 2.2rem;
  background-image: url(../img/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  width: 17.6rem;
  height: 5.6rem;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  flex-grow: 1;
  display: flex;
  gap: 4.9rem;
  margin-left: min(10vw, 14rem);
  margin-right: min(10vw, 14rem);
}

.nav-link {
  color: var(--dark);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;

  transition: all 0.3s;
}

.nav-link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: transparent;
}

.nav-link:hover:after {
  background-color: var(--accent-light);
}

.modal {
  display: block;
}

.cart {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}

.cart::before {
  content: "";
  display: block;
  width: 3rem;
  height: 2.6rem;
  background-image: url(../img/shopping-cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cart-count {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--accent-dark);
  border-radius: 100%;
  color: var(--light);
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 1.7rem;
}

.button-up {
  border-radius: 5px;
  color: var(--dark);
  background-color: var(--accent-light);
  cursor: pointer;

  font-family: var(--nanito-sans);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 1rem;

  transition: all 0.3s;

  position: fixed;
  right: 2.5rem;
  bottom: 1rem;
}

.button-up:hover {
  color: var(--light);
}

.button-up.hidden {
  opacity: 0;
}

.button-up.visible {
  opacity: 1;
}

/*** HERO ***/

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 14.2rem;
  margin-bottom: 14rem;
}

.hero-contact {
  background-image: url(../img/hero-contact.jpg);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: rgba(var(--light-rgb), 0.5);
  font-size: 1.5rem;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "/";
  position: absolute;
  right: -1rem;
}

.breadcrumbs-link {
  color: rgba(var(--light-rgb), 0.5);
}

.breadcrumbs-link:hover {
  color: var(--accent-light);
}

.hero-title {
  font-family: var(--nanito-sans);
  font-size: 7.9rem;
  font-weight: 700;
  color: var(--light);
  margin: 0.8rem 0 1.1rem;
}

.hero-description {
  max-width: 32rem;
  font-size: 1.5rem;
  line-height: 1.6;
  color: rgba(var(--light-rgb), 0.8);
  margin: 0 auto;
}

/*** BANNER ***/

.banner {
  color: var(--light);
}

.banner-wrapper {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem;
  margin-bottom: 10rem;
}

.banner-title {
  font-family: var(--nanito-sans);
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.27;
  margin-bottom: 1rem;
}

.banner-title span {
  display: block;
  max-width: 9.5rem;

  background-color: var(--accent-dark);
  border-radius: 14px;

  font-family: var(--open-sans);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 0.3rem;
}

.banner-description {
  max-width: 30.8rem;
  font-size: 1.5rem;
  line-height: 1.6;
  color: rgba(var(--light-rgb), 0.8);
  margin-bottom: 1.5rem;
}

.banner-btn {
  display: block;
  max-width: 17rem;
  max-height: 5.8rem;
  border-radius: 5px;
  color: var(--dark);
  background-color: var(--accent-light);
  cursor: pointer;

  font-family: var(--nanito-sans);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 2.5rem;

  transition: all 0.3s;
}

.banner-btn:hover {
  background-color: var(--accent-dark);
  color: var(--light);
}

/*** MENU ***/

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.4rem;
}

.menu-title {
  font-family: var(--nanito-sans);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.27;
  text-transform: uppercase;
  color: var(--dark);
}

.menu-select {
  flex-basis: 27.9rem;
  border: 1px solid var(--line);
  border-radius: 22px;

  appearance: none;
  background-image: url(../img/chevron-down.svg);
  background-size: 1.2rem 0.8rem;
  background-repeat: no-repeat;
  background-position: 89% center;

  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--dark);
  padding: 1rem 3rem;
}

.menu-box {
  font-family: var(--nanito-sans);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5rem 2rem;
  margin-bottom: 10rem;
}

.menu-thumb {
  width: 100%;
  max-height: 43rem;
  overflow: hidden;
  margin-bottom: 2rem;
  /* position: relative; */
}

.menu-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Старый вариант подхода к картинкам

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  */
}

.menu-name {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.27;
  text-align: center;
  color: var(--dark);
  margin-bottom: 0.5rem;
}

.menu-price {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  color: rgba(var(--dark-rgb), 0.5);
  margin-bottom: 2rem;
}

.menu-btn {
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: var(--accent-light);
  border-radius: 5px;
  cursor: pointer;

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark);
  padding: 1rem 3rem;

  transition: all 0.3s;
}

.menu-btn::before {
  content: "";
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(../img/btn-cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-btn:hover {
  background-color: var(--accent-dark);
  color: var(--light);
}

/***  ADDITIONAL ***/

.menu-box--additional {
  margin-bottom: 14rem;
}

/*** FOOTER ***/

.footer {
  background-color: #1e2f40;
  color: var(--light);
}

.footer-wrapper {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  padding-top: 11.1rem;
  padding-bottom: 10.6rem;
}

.footer-logo {
  width: 6.3rem;
  height: 5.6rem;
  background-image: url(../img/logo-light-min.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-title {
  font-family: var(--nanito-sans);
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.9;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.footer-link {
  font-size: 1.5rem;
  line-height: 1.6;
  color: rgba(var(--light-rgb), 0.9);

  transition: all 0.3s;
}

.footer-link:hover {
  color: var(--accent-light);
}

.footer-list-item {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--light);
}

.footer-list-item:not(:last-child) {
  padding-bottom: 1.2rem;
}

.footer-list-item span {
  display: block;
  font-weight: 400;
  color: rgba(var(--light-rgb), 0.9);
}

.footer-item:last-child {
  flex-basis: 19.4rem;
}

.footer-tel {
  display: block;
  font-family: var(--nanito-sans);
  font-weight: 800;
  text-align: right;
  font-size: 2rem;
  line-height: 1.9;
  text-transform: uppercase;
  color: var(--accent-light);

  transition: all 0.3s;
}

.footer-tel:hover {
  color: var(--light);
}

.footer-tel._mobile {
  display: none;
}

/*** PAGE CONTACTS ***/

.contact {
  display: flex;
  gap: 2rem;
  padding: 0 7.1rem 6rem 5.2rem;
}

.contact-map {
  flex-basis: 68rem;
}

ul.contact-address {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding-top: 5rem;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--dark);
}

.contact-address span {
  display: block;

  font-family: var(--nanito-sans);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.9;
  text-transform: uppercase;
}

.contact-address span:last-child {
  font-size: 1.5rem;
  line-height: 2;
}

ul.contact-additionally {
  display: flex;
  justify-content: space-between;
  padding-left: 5.2rem;
  padding-right: 5.3rem;
  margin-bottom: 14rem;
}

.contact-additionally li {
  padding-left: 9.5rem;
  position: relative;
}

span {
  display: block;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--dark);
}

span .contact-info {
  font-family: var(--nanito-sans);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
}

.contact-additionally a {
  display: block;

  font-family: var(--nanito-sans);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
  color: var(--dark);
}

.contact-additionally li:nth-child(1):before {
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  background-image: url(../img/time.svg);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  left: 0;
}

.contact-additionally li:nth-child(2):before {
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  left: 0;
}

.contact-additionally li:nth-child(3):before {
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  background-image: url(../img/location.svg);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  left: 0;
}
